<% if user_signed_in? %>
<p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to current_user.username, edit_user_registration_path %>
</p>
<% else %>
<p>
  <%= link_to 'Sign In', new_user_session_path %>
</p>
<p>
  <%= link_to 'Sign Up', new_user_registration_path %>
</p>
<% end %>

<h1>Secret message</h1>

<table>
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title  %></td>
        <td><%= post.body  %></td>
        <td><%= link_to 'Show', post %></td>
        <% if user_signed_in? %>
        <td><%= post.user.username %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
